# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ/Android Studio related
*.iml
*.ipr
*.iws
.idea/
.gradle/
build/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/app/build/
ios/Pods/
ios/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android specific
**/android/.gradle
**/android/.idea
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/gradlew
**/android/gradlew.bat
**/android/gradle.properties
**/android/settings.gradle

# Xcode specific
**/ios/.generated
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/*.last_build_id
**/ios/.symlinks
**/ios/Pods/
**/ios/Podfile.lock
**/ios/DerivedData/
**/ios/.DS_Store
**/ios/build/
**/ios/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/

# macOS specific
**/macos/Pods/
**/macos/Podfile.lock
**/macos/build/

# Windows specific
**/windows/build/

# Linux specific
**/linux/build/

# Web specific
**/web/.dart_tool/
**/web/build/

# Firebase
firebase.json
**/.firebase/
**/.firebaserc
**/google-services.json
**/ios/Runner/GoogleService-Info.plist

# Environment Variables
.env

# Custom assets
**/assets/**/*.temp
